In [7]:
import pandas as pd

In [8]:
df = pd.read_csv("Source/2020_raw.csv")

In [9]:
df

             Full Name
0            ED MARTEL
1        ED WUJCIK JR.
2          JIM MCMAHON
3            JAN MALIK
4          MIKE SYLVIA
5            JEFF REGO
6          STEVE SILVA
7        CHRIS DACOSTA
8         SCOTT LITTLE
9          DAVID CARMO
10          FRANK SKAC
11         MARC DOMINA
12        JASON  SOUSA
13       STEVE LAROCHE
14           DAN MINER
15      KEVIN MEDEIROS
16         BRUCE ALVES
17       CULLEN MCKAIN
18       MARK ORIBELLO
19    MATTHEW FERREIRA
20        JUSTIN MANSI
21       PETER WITHERS
22          MARK ALVES
23         JACOB SILVA
24      ANDREW CANARIO
25    BYRON THIBAUDEAU
26       RICHARD BRAGA
27        CRYSTAL AREL
28      NICHOLAS BRAGA
29   KIMBERLY DENEAULT
30     SEAN THIBAUDEAU
31        JEVIN FORTIN
32     ANDREW WALMSLEY
33           JIM HAYES
34          MIKE PAVAO
35         JOSHUA GALE
36     NEIL THIBAUDEAU
37      AUSTIN DANIELS
38        NATHAN MELLO
39  TYLER NORNORMANDIN
40      PETER JANNITTO
41         BRUCE BALIS
42          ALEX HAYES

In [10]:
# new data frame with split value columns 
new = df["Full Name"].str.split(" ", n = 1, expand = True) 
  
# making separate first name column from new data frame 
df["First Name"]= new[1] 
  
# making separate last name column from new data frame 
df["Last Name"]= new[0]

In [11]:
filename = input("What would you like to name this new csv file?")
df.to_csv(filename+"_split.csv")

What would you like to name this new csv file?2020

In [12]:
df

             Full Name    First Name Last Name
0            ED MARTEL        MARTEL        ED
1        ED WUJCIK JR.    WUJCIK JR.        ED
2          JIM MCMAHON       MCMAHON       JIM
3            JAN MALIK         MALIK       JAN
4          MIKE SYLVIA        SYLVIA      MIKE
5            JEFF REGO          REGO      JEFF
6          STEVE SILVA         SILVA     STEVE
7        CHRIS DACOSTA       DACOSTA     CHRIS
8         SCOTT LITTLE        LITTLE     SCOTT
9          DAVID CARMO         CARMO     DAVID
10          FRANK SKAC          SKAC     FRANK
11         MARC DOMINA        DOMINA      MARC
12        JASON  SOUSA         SOUSA     JASON
13       STEVE LAROCHE       LAROCHE     STEVE
14           DAN MINER         MINER       DAN
15      KEVIN MEDEIROS      MEDEIROS     KEVIN
16         BRUCE ALVES         ALVES     BRUCE
17       CULLEN MCKAIN        MCKAIN    CULLEN
18       MARK ORIBELLO      ORIBELLO      MARK
19    MATTHEW FERREIRA      FERREIRA   MATTHEW
20        JUSTIN MANSI         MANSI    JUSTIN
21       PETER WITHERS       WITHERS     PETER
22          MARK ALVES         ALVES      MARK
23         JACOB SILVA         SILVA     JACOB
24      ANDREW CANARIO       CANARIO    ANDREW
25    BYRON THIBAUDEAU    THIBAUDEAU     BYRON
26       RICHARD BRAGA         BRAGA   RICHARD
27        CRYSTAL AREL          AREL   CRYSTAL
28      NICHOLAS BRAGA         BRAGA  NICHOLAS
29   KIMBERLY DENEAULT      DENEAULT  KIMBERLY
30     SEAN THIBAUDEAU    THIBAUDEAU      SEAN
31        JEVIN FORTIN        FORTIN     JEVIN
32     ANDREW WALMSLEY      WALMSLEY    ANDREW
33           JIM HAYES         HAYES       JIM
34          MIKE PAVAO         PAVAO      MIKE
35         JOSHUA GALE          GALE    JOSHUA
36     NEIL THIBAUDEAU    THIBAUDEAU      NEIL
37      AUSTIN DANIELS       DANIELS    AUSTIN
38        NATHAN MELLO         MELLO    NATHAN
39  TYLER NORNORMANDIN  NORNORMANDIN     TYLER
40      PETER JANNITTO      JANNITTO     PETER
41         BRUCE BALIS         BALIS     BRUCE
42          ALEX HAYES         HAYES      ALEX